---
layout: null
---

h1 {
    font-size: 2.00rem;
    opacity: 0.4;
}
.page-heading {
    text-align: left;
}
.page-subheading {
    opacity: 0.4;
    text-align: right;
}
.img-desc {
    background: transparent;
}
